<ul>
    <% @figures.each do |figure| %>
    <li>
        <p><%= figure.name %></p>
        <a href="/figures/<%=figure.name%>"></a>
    <li>
    <% end %>
</ul>
<a href="/figures/new">Add New Figure</a>